<a href="https://colab.research.google.com/github/rabbi303/rabbi_ds_assignment_02/blob/main/rabbi_ds_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial 02

In [ ]:
"Data Science"

'Data Science'

In [ ]:
print("Welcome", "Welcome to python", sep=" & ", end=" *")

Welcome & Welcome to python *

In [ ]:
var = "Welcome to python"
print(var)
print(var+ " & Welcome to ML")

Welcome to python
Welcome to python & Welcome to ML

In [ ]:
id(var) #memory Location

140210580479072

In [ ]:
import sys
sys.getsizeof(var) #memory size

66

In [ ]:
x = 500 #global variable
def func():
  x=1000 #local variable
  print("local variable x is: ",x)
func()
print("global variable x is: ",x)

local variable x is:  1000
global variable x is:  500

In [ ]:
x = 500 #global variable
def func():
  global x
  x=1000 #local variable
  print("local variable x is: ",x)
func()
print("global variable x is: ",x)

local variable x is:  1000
global variable x is:  1000

# Tutorial-03

### input function

In [ ]:
inp_fun = input()

machinne learning

In [ ]:
type(inp_fun)

str

In [ ]:
first = "I love DS"
second = " & I love Ml"

first+second

'I love DS & I love Ml'

In [ ]:
len(first)

9

In [ ]:
z = "I love ML"

print(z.casefold())
print(z.upper())
print(z.capitalize())

i love ml
I LOVE ML
I love ml

In [ ]:
z.split()

['I', 'love', 'ML']

In [ ]:
z.center(30)

'          I love ML           '

In [ ]:
z.replace('ML','DS')

'I love DS'

In [ ]:
p = 15
q=25

print("the score is {} and {}".format(p,q))

the score is 15 and 25

# Tutorial-04

In [2]:
x = 5
y = 5.2
z = 10+5j #10 is real and 5j is imaginary

In [5]:
type(x)

int

In [6]:
type(y)

float

In [7]:
type(z)

complex

In [8]:
isinstance(z,complex)

True

In [9]:
isinstance(5,int)

True

type casting

In [11]:
n = float(x) #int to float
n

5.0

In [12]:
type(n)

float

In [13]:
n = int(x) #float to int 
n

5

In [14]:
type(n)

int

In [21]:
n = complex(x)
n

(5+0j)

In [22]:
type(n)

complex

In [ ]:
n = int(n) #can't convert complex to int or float
n

In [25]:
n = complex(input("Enter the complex number"))
n

Enter the complex number5

(5+0j)

### Boolean data

In [27]:
x = True
y = False

True

In [28]:
x

True

In [29]:
y

False

# Sequence Data

### List

In [30]:
l = [1,2,3,4,'string',(1,2,3,4,5),[6,7,8,9],True,'data']
l

[1, 2, 3, 4, 'string', (1, 2, 3, 4, 5), [6, 7, 8, 9], True, 'data']

In [31]:
l[0]

1

In [32]:
l[5][1]

2

In [33]:
l[-1]

'data'

In [34]:
isinstance(l,list)

True

### Tupple

In [35]:
t = (1,2,3,'string')
type(t)

tuple

In [37]:
t[0:4] #print 0 to 3 data

(1, 2, 3, 'string')

### Range

In [39]:
x = range(10)
x

range(0, 10)

In [43]:
x = range(10) #2nd case
for i in range(0,8):
  print(i)

0
1
2
3
4
5
6
7

In [42]:
y = range(0,12,2) #3rd case
for i in y:
  print(i)

0
2
4
6
8
10

### Array

In [45]:
import array as ar
a = ar.array('i',[1,2,3,4]) #must be include unicode character
a

array('i', [1, 2, 3, 4])

In [46]:
type(a)

array.array

### String

In [47]:
x = 'data'
type(x)

str

In [48]:
type(y)

range

In [49]:
x ='''
I love 
DS
'''

In [50]:
x

'\nI love \nDS\n'

### set

In [51]:
s={1,2,3,4}
s

{1, 2, 3, 4}

In [52]:
type(s)

set

### Dictionary

In [54]:
dic = {
    'name':'fazle rabbi',
    'Dept':'CSE'
}

In [55]:
dic

{'name': 'fazle rabbi', 'Dept': 'CSE'}

In [57]:
dic.keys()

dict_keys(['name', 'Dept'])

In [56]:
dic.values()

dict_values(['fazle rabbi', 'CSE'])

### Data frame

In [59]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [62]:
df.shape

(3000, 9)

In [63]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [65]:
type(df)

pandas.core.frame.DataFrame

### Binary Types

In [66]:
byte_arr = bytearray('ABCDE','utf-8')

In [67]:

type(byte_arr)

bytearray

In [68]:
memoryview(byte_arr)

In [69]:

memoryview(byte_arr)[0]

65

# tutorial -05

### operators

### Arithmatic operator

### Identity operator

### Bitwise operator

### Comparison operator

### logical operator

### Assignment operator